/* sign in  css section */

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/Hero-section.png");
  background-color: #83c0b9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 2rem;
}

.loginBox {
  background: #fff;
  padding: 3rem;
  border-radius: 10px;
  max-width: 484px;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  cursor: pointer;
  background: transparent;
  border: none;
}


.loginText {
  text-align: center;
  margin-bottom: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup input {
  padding: 10px;
  font-size: 18px;
  border: 1.5px solid #000;
  border-radius: 5px;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #717171;
}

.options a {
  text-decoration: none;
  color: inherit;
}

.options input[type="checkbox"] {
  margin-right: 5px;
  border-radius: 0;
}

.signinButton,
.googleButton {
  width: 100%;
  padding: 10px;
  border: 1px solid #83c0b9;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.signinButton {
  background: transparent;
}
.signinButton:hover,
.googleButton:hover {
  background: #83c0b9;
  color: #fff;
}

.googleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #83c0b9;
  background: transparent;
}

.googleButton img {
  width: 20px;
}

.signupText {
  text-align: center;
  margin-top: 40px;
}

.signupText a {
  color: #83c0b9;
  text-decoration: none;
  cursor: pointer;
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .loginBox {
    padding: 2rem;
    max-width: 95%;
  }

  .inputGroup input {
    font-size: 14px;
  }

  .signinButton,
  .googleButton {
    font-size: 14px;
  }
  .options {
    font-size: 12px;
  }

  .signupText {
    margin-top: 30px;
  }
  .signupText a {
    font-size: 14px;
  }
}
