/* Sign Up Stylings */

.signup-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/Hero-section.png");
  background-color: #83c0b9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 2rem;
}

.signup-container {
  background-color: #fff;
  padding-inline: 4rem;
  padding-block: 3rem;
  max-width: 484px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.action-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.return,
.cancel {
  width: 24px;
  height: 24px;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

legend {
  text-align: left;
}

.dob {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

input[type="number"] {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  width: 100px;
  height: 3rem;
  border: 1.5px solid #000;
  border-radius: 4px;

  &::-webkit-input-placeholder {
    color: #000;
    text-align: left;
  }

  &::-moz-placeholder {
    color: #000;
    text-align: left;
  }

  &:-ms-input-placeholder {
    color: #000;
    text-align: left;
  }

  &::-ms-input-placeholder {
    color: #000;
    text-align: left;
  }

  &::placeholder {
    color: #000;
    text-align: left;
  }
}

#monthInput {
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  width: 100px;
  height: 3rem;
  border: 1.5px solid #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;

  > option[value=""] {
    color: #000;
    text-align: left;
  }
}

.undertext {
  font-size: 14px;
  color: #717171;
  text-align: left;
}

.email-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input[type="email"] {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  width: 100%;
  height: 3rem;
  border: 1.5px solid #000;
  border-radius: 4px;

  &::-webkit-input-placeholder {
    color: #000;
    text-align: left;
  }

  &::-moz-placeholder {
    color: #000;
    text-align: left;
  }

  &:-ms-input-placeholder {
    color: #000;
    text-align: left;
  }

  &::-ms-input-placeholder {
    color: #000;
    text-align: left;
  }

  &::placeholder {
    color: #000;
    text-align: left;
  }
}

input[type="password"] {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  width: 100%;
  height: 3rem;
  border: 1.5px solid #000;
  border-radius: 4px;

  &::-webkit-input-placeholder {
    color: #000;
    text-align: left;
  }

  &::-moz-placeholder {
    color: #000;
    text-align: left;
  }

  &:-ms-input-placeholder {
    color: #000;
    text-align: left;
  }

  &::-ms-input-placeholder {
    color: #000;
    text-align: left;
  }

  &::placeholder {
    color: #000;
    text-align: left;
  }
}

input[id="otp"] {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  width: 100%;
  height: 3rem;
  border: 1.5px solid #000;
  border-radius: 4px;

  &::-webkit-input-placeholder {
    color: #000;
    text-align: left;
  }

  &::-moz-placeholder {
    color: #000;
    text-align: left;
  }

  &:-ms-input-placeholder {
    color: #000;
    text-align: left;
  }

  &::-ms-input-placeholder {
    color: #000;
    text-align: left;
  }

  &::placeholder {
    color: #000;
    text-align: left;
  }
}

button[type="submit"] {
  padding-block: 0.5rem;
  border: 1px solid #83c0b9;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: #83c0b9;
    color: white;
  }
}

.login-text {
  > span {
    text-decoration: none;
    color: #83c0b9;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .signup-container {
    padding-inline: 1.5rem;
    padding-block: 1rem;
    max-width: 350px;
    width: 100%;
    gap: 0.5rem;
  }

  input[type="number"] {
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    width: 90px;
  }

  select {
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    width: 90px;
  }

  input[id="otp"] {
    width: 100%;
  }

  .signup-wrapper {
    padding-block: 1.5rem;
  }
}
