.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 496px;
  height: 186px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.summary {
  white-space: normal;
}

.cardBtn {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-block: 20px;
}

.shoppingCartBtn {
  background: #83c0b9;
  height: 48px;
  width: 160px;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
}

.continueBtn {
  background-color: #ffffff;
  height: 48px;
  width: 160px;
  border: 1px solid #83c0b9;
  outline: none;
  border-radius: 20px;
  color: #1e285f;
  cursor: pointer;
}
