.search-page {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  overflow: auto;
  padding-bottom: 30px;
}

.search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-page .brandlogo {
  width: 150px;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  margin-bottom: 20px;
}
.search-container .search-input {
  width: 100%;
  border: none;
  outline: none;
  flex: 1;
}
.search-input-group {
  display: flex;
  width: 100%;
  padding-inline: 20px;
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
}

.search-input-btn {
  font-size: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.suggestions-list {
  list-style-type: none;
}
.suggestion-item {
  padding: 10px 20px;
  border: 1px solid #399b90;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.medicine-card {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 20px;
}

.medicine-card .trash {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: auto 0;
}

.medicine-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  border: 1px solid #399b90;
  border-radius: 8px;
  padding-inline: 4rem;
  padding-block: 2rem;
}
.medicine-name {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.medicine-description {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: normal;
  white-space: normal; /* Ensures text wraps to the next line */
}

.medicine-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
}

.option-group label {
  display: block;
}

.option-group select {
  width: 100px;
  height: 25px;
  outline: none;
}

.quantity-control {
  display: flex;
  align-items: center;
}
.quantity-control .quantity-input {
  width: 15px;
  height: 20px;
  border: none;
  outline: none;
  color: #000;
  text-align: center;
  padding-inline: 0;
}

.quantity-control input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-btn {
  width: 17px;
  height: 17px;
  border: 1px thin black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: medium;
  cursor: pointer;
}

.submit-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

.submit-btn {
  background-color: #83c0b9;
  color: white;
  width: 500px;
  padding: 10px 20px;
  border: #399b90 solid 1px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
