.login-container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/Hero-section.png");
  background-color: #83c0b9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 2rem;
}

.login-box {
  background: #fff;
  padding: 3rem;
  border-radius: 10px;
  max-width: 484px;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.back-btn {
  position: absolute;
  top: 20px;
  font-size: 18px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.back-btn {
  left: 20px;
}

.login-text {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group input {
  padding: 10px;
  font-size: 18px;
  border: 1.5px solid #000;
  border-radius: 5px;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #717171;
}

.options a {
  text-decoration: none;
  color: inherit;
}

.options input[type="checkbox"] {
  margin-right: 5px;
  border-radius: 0;
}

.sign-in-btn,
.google-signin {
  width: 100%;
  padding: 10px;
  border: 1px solid #83c0b9;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.sign-in-btn {
  background: transparent;
}
.sign-in-btn:hover,
.google-signin:hover {
  background: #83c0b9;
  color: #fff;
}

.google-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #83c0b9;
  background: transparent;
}

.google-signin img {
  width: 20px;
}

.signup-text {
  text-align: center;
  margin-top: 40px;
}

.signup-text a {
  color: #83c0b9;
  text-decoration: none;
  cursor: pointer;
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .login-box {
    padding: 2rem;
    max-width: 95%;
  }

  .input-group input {
    font-size: 16px;
  }

  .sign-in-btn,
  .google-signin {
    font-size: 16px;
  }
  .options {
    font-size: 12px;
  }

  .signup-text {
    margin-top: 30px;
  }
  .signup-text a {
    font-size: 14px;
  }
}
