@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: none;
  font-family: "Poppins", sans-serif;
}

.Logo{
    padding-top: 2em;
    padding-left: 2em;

}
.MainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
}

.Buttons {
  display: flex;
  gap: 1em;
  font-weight: bold;
}


.Buttons button:first-child {
  border: none;
  font-size: 1.3em;
  background: none;
  color: #007e85;
}

.Buttons button:nth-child(2) {
  border: none;
  background: #007e85;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 0.8em 1.8em;
  border-radius: 0.5em;
}


.Buttons button:first-child:hover{
color: #7acace;
}

.Buttons button:nth-child(2):hover{
    background: #86ecf1;
    color: black;
    transition: 1s, ease-in-out;
}